@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Nunito', sans-serif;
    --background-color: #b3b2b2;
    --color-description: #a4a4a4;
    --border-radius: 15px;
}

body {
    font-family: var(--font-family);
}

div.travelbox {
    display: flex;
    gap: 50px;
    margin: 60px;
    justify-content: center;
}

div.cardbox {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 30px;
    max-width: 30%;
    margin: 0px 50px;
    position: relative;
    left: 0px;

}

img.images {
    border-radius: var(--border-radius);
}

h3 {
    padding: 20px 0px;
}

p {
    padding: 20px 0px;
}


div.peoplebox {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

div.peoplegoing {
    display: flex;
    gap: 10px;
    padding: 15px 0px;
    align-items: center;
}

div.absolute {
    background-color: rgb(215, 215, 215);
    position: absolute;
    top: 350px;
    left: 330px;
    width: 200px;
    display: flex;
    padding: 10px;
    gap: 10px;
    border-radius: var(--border-radius);

}

img.profile {
    border-radius: 50%;
}

div.city {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

span {
    color: rgb(188, 52, 188);
}