@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Nunito', sans-serif;
    --background-color: #ffffff;
    --border-radius: 15px;
    --absolute-color: rgb(239, 239, 239);
    --box-shadow: #d5d5d5 0px 0px 15px 0px;
}

body {
    font-family: var(--font-family);
    background-color: rgb(255, 241, 216);
}

div.travelbox {
    display: flex;
    gap: 40px;
    margin: 60px;
    justify-content: space-evenly;
}

div.cardbox {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 30px;
    width: 30%;
    position: relative;
    left: 0px;
    box-shadow: var(--box-shadow);

}

img.images {
    border-radius: var(--border-radius);
}

h3 {
    padding: 20px 0px;
}

p {
    padding: 20px 0px;
}


div.peoplebox {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

div.peoplegoing {
    display: flex;
    gap: 10px;
    padding: 15px 0px;
    align-items: center;
}

div.absolute {
    background-color: var(--absolute-color);
    position: absolute;
    bottom: 25%;
    left: 80%;
    width: 200px;
    display: flex;
    padding: 10px;
    gap: 10px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

img.profile {
    border-radius: 50%;
}

div.city {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

span {
    color: #bc34bc;
}

@media screen and (max-width: 1050px) {
    div.travelbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.cardbox {
        width: 100%;
    }
}